In [1]:
from sqlalchemy import create_engine
import pandas as pd
import urllib

In [2]:
conn = 'sqlite:///Weather_db_20200621.db'

In [3]:
pd.read_sql_query(con = conn, sql = 'SELECT * FROM sqlite_master WHERE type = "table"')

,type,name,tbl_name,rootpage,sql
0,table,condition,condition,2,CREATE TABLE condition (_id INTEGER PRIMARY KE...
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,forecast,forecast,4,CREATE TABLE forecast (_id INTEGER PRIMARY KEY...

In [4]:
condition_df = pd.read_sql_table(con = conn, table_name = "condition")

In [5]:
condition_df

,_id,city,country,region,chill,direction,speed,sunrise,sunset,humidity,pressure,rising,visibility,pubdate,text,code,temperature,creatat,changeat
0,1,Prague,Czech Republic,Prague,-1,240,11.0,7:52 am,4:34 pm,93,992.0,0,13.0,2020-01-18 19:00:00,Cloudy,26,2,2020-01-18 20:15:13,2020-01-18 19:45:21
1,2,Prague,Czech Republic,Prague,-2,245,9.0,7:52 am,4:34 pm,92,992.0,0,14.0,2020-01-18 20:00:00,Cloudy,26,1,2020-01-18 20:45:17,2020-01-18 20:45:17
2,3,Prague,Czech Republic,Prague,-1,250,9.0,7:52 am,4:34 pm,87,992.0,0,16.1,2020-01-18 21:00:00,Mostly Cloudy,27,2,2020-01-18 21:45:18,2020-01-18 21:45:18
3,4,Prague,Czech Republic,Prague,-2,250,10.0,7:52 am,4:34 pm,86,992.0,0,16.1,2020-01-18 22:00:00,Cloudy,26,1,2020-01-18 22:45:18,2020-01-18 22:45:18
4,5,Prague,Czech Republic,Prague,-2,250,10.0,7:52 am,4:34 pm,86,992.0,0,16.1,2020-01-18 23:00:00,Cloudy,26,1,2020-01-18 23:45:16,2020-01-18 23:45:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626,3627,Prague,Czech Republic,Prague,12,305,18.0,4:53 am,9:16 pm,88,984.0,0,16.1,2020-06-21 04:00:00,Cloudy,26,14,2020-06-21 04:45:11,2020-06-21 04:45:11
3627,3628,Prague,Czech Republic,Prague,12,305,18.0,4:53 am,9:16 pm,82,984.0,0,16.1,2020-06-21 05:00:00,Showers,11,14,2020-06-21 05:45:10,2020-06-21 05:45:10
3628,3629,Prague,Czech Republic,Prague,12,310,18.0,4:53 am,9:16 pm,82,984.0,0,16.1,2020-06-21 06:00:00,Showers,11,14,2020-06-21 06:45:11,2020-06-21 06:45:11
3629,3630,Prague,Czech Republic,Prague,13,315,14.0,4:53 am,9:16 pm,77,984.0,0,16.1,2020-06-21 07:00:00,Cloudy,26,15,2020-06-21 07:45:18,2020-06-21 07:45:18
3630,3631,Prague,Czech Republic,Prague,13,305,16.0,4:53 am,9:16 pm,77,984.0,0,16.1,2020-06-21 08:00:00,Cloudy,26,15,2020-06-21 08:45:13,2020-06-21 08:45:13

In [6]:
condition_df.dtypes

_id              int64
city            object
country         object
region          object
chill            int64
direction        int64
speed          float64
sunrise         object
sunset          object
humidity         int64
pressure       float64
rising           int64
visibility     float64
pubdate         object
text            object
code             int64
temperature      int64
creatat         object
changeat        object
dtype: object

In [7]:
condition_df['sunrise'] = condition_df['sunrise'].astype('datetime64[ns]')
condition_df['sunset'] = condition_df['sunset'].astype('datetime64[ns]')
condition_df['pubdate'] = condition_df['pubdate'].astype('datetime64[ns]')
condition_df['creatat'] = condition_df['creatat'].astype('datetime64[ns]')
condition_df['changeat'] = condition_df['changeat'].astype('datetime64[ns]')

In [8]:
condition_df.dtypes

_id                     int64
city                   object
country                object
region                 object
chill                   int64
direction               int64
speed                 float64
sunrise        datetime64[ns]
sunset         datetime64[ns]
humidity                int64
pressure              float64
rising                  int64
visibility            float64
pubdate        datetime64[ns]
text                   object
code                    int64
temperature             int64
creatat        datetime64[ns]
changeat       datetime64[ns]
dtype: object

In [9]:
quoted = urllib.parse.quote_plus("Driver={SQL Server};Server=DESKTOP-NO9U58U\SQLEXPRESS;Database=dbMoje;Trusted_Connection=yes;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
df = pd.read_sql_table(con=engine, table_name = "Moje")
df

                                     ID                    TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia

In [10]:
condition_df.to_sql(con = engine, name = '20200621_condition')

In [11]:
df = pd.read_sql_table(con=engine, table_name = "20200621_condition")
df

,index,_id,city,country,region,chill,direction,speed,sunrise,sunset,humidity,pressure,rising,visibility,pubdate,text,code,temperature,creatat,changeat
0,0,1,Prague,Czech Republic,Prague,-1,240,11.0,2020-07-23 07:52:00,2020-07-23 16:34:00,93,992.0,0,13.0,2020-01-18 19:00:00,Cloudy,26,2,2020-01-18 20:15:13,2020-01-18 19:45:21
1,1,2,Prague,Czech Republic,Prague,-2,245,9.0,2020-07-23 07:52:00,2020-07-23 16:34:00,92,992.0,0,14.0,2020-01-18 20:00:00,Cloudy,26,1,2020-01-18 20:45:17,2020-01-18 20:45:17
2,2,3,Prague,Czech Republic,Prague,-1,250,9.0,2020-07-23 07:52:00,2020-07-23 16:34:00,87,992.0,0,16.1,2020-01-18 21:00:00,Mostly Cloudy,27,2,2020-01-18 21:45:18,2020-01-18 21:45:18
3,3,4,Prague,Czech Republic,Prague,-2,250,10.0,2020-07-23 07:52:00,2020-07-23 16:34:00,86,992.0,0,16.1,2020-01-18 22:00:00,Cloudy,26,1,2020-01-18 22:45:18,2020-01-18 22:45:18
4,4,5,Prague,Czech Republic,Prague,-2,250,10.0,2020-07-23 07:52:00,2020-07-23 16:34:00,86,992.0,0,16.1,2020-01-18 23:00:00,Cloudy,26,1,2020-01-18 23:45:16,2020-01-18 23:45:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626,3626,3627,Prague,Czech Republic,Prague,12,305,18.0,2020-07-23 04:53:00,2020-07-23 21:16:00,88,984.0,0,16.1,2020-06-21 04:00:00,Cloudy,26,14,2020-06-21 04:45:11,2020-06-21 04:45:11
3627,3627,3628,Prague,Czech Republic,Prague,12,305,18.0,2020-07-23 04:53:00,2020-07-23 21:16:00,82,984.0,0,16.1,2020-06-21 05:00:00,Showers,11,14,2020-06-21 05:45:10,2020-06-21 05:45:10
3628,3628,3629,Prague,Czech Republic,Prague,12,310,18.0,2020-07-23 04:53:00,2020-07-23 21:16:00,82,984.0,0,16.1,2020-06-21 06:00:00,Showers,11,14,2020-06-21 06:45:11,2020-06-21 06:45:11
3629,3629,3630,Prague,Czech Republic,Prague,13,315,14.0,2020-07-23 04:53:00,2020-07-23 21:16:00,77,984.0,0,16.1,2020-06-21 07:00:00,Cloudy,26,15,2020-06-21 07:45:18,2020-06-21 07:45:18
3630,3630,3631,Prague,Czech Republic,Prague,13,305,16.0,2020-07-23 04:53:00,2020-07-23 21:16:00,77,984.0,0,16.1,2020-06-21 08:00:00,Cloudy,26,15,2020-06-21 08:45:13,2020-06-21 08:45:13

In [12]:
forecast_df = pd.read_sql_table(con = conn, table_name = "forecast")

In [13]:
forecast_df

,_id,condate,day,date,code,low,high,text,creatat,changeat
0,1,2020-01-18 19:00:00,Sat,2020-01-18 01:00:00,5,0,2,Rain And Snow,2020-01-18 20:15:13,2020-01-18 20:15:13
1,2,2020-01-18 19:00:00,Sun,2020-01-19 01:00:00,28,-1,2,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
2,3,2020-01-18 19:00:00,Mon,2020-01-20 01:00:00,28,-1,2,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
3,4,2020-01-18 19:00:00,Tue,2020-01-21 01:00:00,32,-3,1,Sunny,2020-01-18 20:15:13,2020-01-18 20:15:13
4,5,2020-01-18 19:00:00,Wed,2020-01-22 01:00:00,28,-4,1,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
...,...,...,...,...,...,...,...,...,...,...
36335,36336,2020-06-21 08:00:00,Fri,2020-06-26 00:00:00,30,12,23,Partly Cloudy,2020-06-21 08:45:13,2020-06-21 08:45:13
36336,36337,2020-06-21 08:00:00,Sat,2020-06-27 00:00:00,34,15,25,Mostly Sunny,2020-06-21 08:45:13,2020-06-21 08:45:13
36337,36338,2020-06-21 08:00:00,Sun,2020-06-28 00:00:00,4,17,25,Thunderstorms,2020-06-21 08:45:13,2020-06-21 08:45:13
36338,36339,2020-06-21 08:00:00,Mon,2020-06-29 00:00:00,47,17,23,Scattered Thunderstorms,2020-06-21 08:45:13,2020-06-21 08:45:13
36339,36340,2020-06-21 08:00:00,Tue,2020-06-30 00:00:00,30,16,22,Partly Cloudy,2020-06-21 08:45:13,2020-06-21 08:45:13

In [14]:
forecast_df.dtypes

_id          int64
condate     object
day         object
date        object
code         int64
low          int64
high         int64
text        object
creatat     object
changeat    object
dtype: object

In [15]:
forecast_df['condate'] = forecast_df['condate'].astype('datetime64[ns]')
forecast_df['date'] = forecast_df['date'].astype('datetime64[ns]')
forecast_df['creatat'] = forecast_df['creatat'].astype('datetime64[ns]')
forecast_df['changeat'] = forecast_df['changeat'].astype('datetime64[ns]')

In [16]:
forecast_df.dtypes

_id                  int64
condate     datetime64[ns]
day                 object
date        datetime64[ns]
code                 int64
low                  int64
high                 int64
text                object
creatat     datetime64[ns]
changeat    datetime64[ns]
dtype: object

In [17]:
forecast_df.to_sql(con = engine, name = '20200621_forecast')

In [18]:
df = pd.read_sql_table(con = engine, table_name = "20200621_forecast")

In [19]:
df

,index,_id,condate,day,date,code,low,high,text,creatat,changeat
0,0,1,2020-01-18 19:00:00,Sat,2020-01-18 01:00:00,5,0,2,Rain And Snow,2020-01-18 20:15:13,2020-01-18 20:15:13
1,1,2,2020-01-18 19:00:00,Sun,2020-01-19 01:00:00,28,-1,2,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
2,2,3,2020-01-18 19:00:00,Mon,2020-01-20 01:00:00,28,-1,2,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
3,3,4,2020-01-18 19:00:00,Tue,2020-01-21 01:00:00,32,-3,1,Sunny,2020-01-18 20:15:13,2020-01-18 20:15:13
4,4,5,2020-01-18 19:00:00,Wed,2020-01-22 01:00:00,28,-4,1,Mostly Cloudy,2020-01-18 20:15:13,2020-01-18 20:15:13
...,...,...,...,...,...,...,...,...,...,...,...
36335,36335,36336,2020-06-21 08:00:00,Fri,2020-06-26 00:00:00,30,12,23,Partly Cloudy,2020-06-21 08:45:13,2020-06-21 08:45:13
36336,36336,36337,2020-06-21 08:00:00,Sat,2020-06-27 00:00:00,34,15,25,Mostly Sunny,2020-06-21 08:45:13,2020-06-21 08:45:13
36337,36337,36338,2020-06-21 08:00:00,Sun,2020-06-28 00:00:00,4,17,25,Thunderstorms,2020-06-21 08:45:13,2020-06-21 08:45:13
36338,36338,36339,2020-06-21 08:00:00,Mon,2020-06-29 00:00:00,47,17,23,Scattered Thunderstorms,2020-06-21 08:45:13,2020-06-21 08:45:13
36339,36339,36340,2020-06-21 08:00:00,Tue,2020-06-30 00:00:00,30,16,22,Partly Cloudy,2020-06-21 08:45:13,2020-06-21 08:45:13