In [1]:
import sqlite3
#from sqlalchemy import create_engine
import pandas as pd
import pyodbc
#import urllib

In [2]:
schema_name = "cursor"

In [3]:
def delete_db(sch_name):
    conn_string = "Driver={SQL Server};Server=DESKTOP-NO9U58U\SQLEXPRESS;Database=dbMoje;Trusted_Connection=yes;"
    conn = pyodbc.connect(conn_string)
    cursor = conn.cursor()
    
    try:
        cursor.execute('DROP TABLE [{}].[20200118_condition]'.format(sch_name))
        cursor.execute('DROP TABLE [{}].[20200118_forecast]'.format(sch_name))
        conn.commit()
    except Exception as e:
        print(e)

    try:
        cursor.execute('DROP SCHEMA [{}]'.format(sch_name))
        conn.commit()
    except Exception as e:
        print(e)
    
    cursor.close()

In [4]:
delete_db(schema_name)

In [5]:
def init_db(sch_name):
    conn_string = "Driver={SQL Server};Server=DESKTOP-NO9U58U\SQLEXPRESS;Database=dbMoje;Trusted_Connection=yes;"
    conn = pyodbc.connect(conn_string)
    cursor = conn.cursor()

    try:
        cursor.execute('CREATE SCHEMA [{}]'.format(sch_name))
        conn.commit()
    except Exception as e:
        print(e)

    try:
        cursor.execute("CREATE TABLE [{}].[20200118_condition] (".format(sch_name)+
                "_id INTEGER PRIMARY KEY,"+
                "city TEXT,"+
                "country TEXT,"+
                "region TEXT,"+
                "chill INTEGER,"+
                "direction INTEGER,"+
                "speed REAL,"+
                "sunrise TEXT,"+
                "sunset TEXT,"+
                "humidity INTEGER,"+
                "pressure REAL,"+
                "rising INTEGER,"+
                "visibility REAL,"+
                "pubdate TEXT,"+
                "text TEXT,"+
                "code INTEGER,"+
                "temperature INTEGER,"+
                "creatat TEXT,"+
                "changeat TEXT)")
        conn.commit()
    except Exception as e:
        print(e)

    try:
        #cursor.execute("DROP TABLE forecast")
        cursor.execute("CREATE TABLE [{}].[20200118_forecast] (".format(sch_name)+
                "_id INTEGER PRIMARY KEY,"+
                "condate TEXT,"+
                "day TEXT,"+
                "date TEXT,"+
                "code INTEGER,"+
                "low INTEGER,"+
                "high INTEGER,"+
                "text TEXT,"+
                "creatat TEXT,"+
                "changeat TEXT)")
        conn.commit()
    except Exception as e:
        print(e)

    cursor.close()

In [6]:
init_db(schema_name)

In [7]:
conn = sqlite3.connect('Weather_db_20200118.db')

In [8]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM sqlite_master WHERE type = "table"')

for row in cursor:
    print(row)

cursor.close()

('table', 'condition', 'condition', 2, 'CREATE TABLE condition (_id INTEGER PRIMARY KEY AUTOINCREMENT,city TEXT,country TEXT,region TEXT,chill INTEGER,direction INTEGER,speed REAL,sunrise TEXT,sunset TEXT,humidity INTEGER,pressure REAL,rising INTEGER,visibility REAL,pubdate TEXT,text TEXT,code INTEGER,temperature INTEGER,creatat TEXT,changeat TEXT)')
('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')
('table', 'forecast', 'forecast', 4, 'CREATE TABLE forecast (_id INTEGER PRIMARY KEY AUTOINCREMENT,condate TEXT,day TEXT,date TEXT,code INTEGER,low INTEGER,high INTEGER,text TEXT,creatat TEXT,changeat TEXT)')

In [9]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM condition')

columns = [i[0] for i in cursor.description]
results = cursor.fetchall()

cursor.close()

In [10]:
condition_df = pd.DataFrame((tuple(t) for t in results), columns = columns)

In [11]:
condition_df

,_id,city,country,region,chill,direction,speed,sunrise,sunset,humidity,pressure,rising,visibility,pubdate,text,code,temperature,creatat,changeat
0,1,Prague,Czech Republic,Prague,6,250,29.0,6:19 am,6:05 pm,45,975.0,0,16.1,2019-03-13 13:00:00,Breezy,23,9,2019-03-13 14:16:10,2019-03-13 14:16:10
1,2,Prague,Czech Republic,Prague,5,250,30.0,6:19 am,6:05 pm,42,975.0,0,16.1,2019-03-13 14:00:00,Breezy,23,8,2019-03-13 14:45:47,2019-03-13 14:45:47
2,3,Prague,Czech Republic,Prague,3,250,30.0,6:19 am,6:05 pm,46,974.0,0,16.1,2019-03-13 15:00:00,Breezy,23,7,2019-03-13 15:45:42,2019-03-13 15:45:42
3,4,Prague,Czech Republic,Prague,5,250,26.0,6:19 am,6:05 pm,42,974.0,0,16.1,2019-03-13 16:00:00,Breezy,23,8,2019-03-13 16:45:41,2019-03-13 16:45:41
4,5,Prague,Czech Republic,Prague,5,240,22.0,6:19 am,6:05 pm,49,974.0,0,16.1,2019-03-13 17:00:00,Partly Cloudy,30,7,2019-03-13 17:45:43,2019-03-13 17:45:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7252,7253,Prague,Czech Republic,Prague,2,225,3.0,7:52 am,4:34 pm,93,991.0,0,13.0,2020-01-18 14:00:00,Cloudy,26,2,2020-01-18 14:45:21,2020-01-18 14:45:21
7253,7254,Prague,Czech Republic,Prague,2,205,3.0,7:52 am,4:34 pm,95,991.0,0,10.9,2020-01-18 15:00:00,Cloudy,26,2,2020-01-18 15:45:23,2020-01-18 15:45:23
7254,7255,Prague,Czech Republic,Prague,0,215,7.0,7:52 am,4:34 pm,94,991.0,0,11.3,2020-01-18 16:00:00,Cloudy,26,2,2020-01-18 16:45:23,2020-01-18 16:45:23
7255,7256,Prague,Czech Republic,Prague,0,235,9.0,7:52 am,4:34 pm,93,991.0,0,13.2,2020-01-18 17:00:00,Cloudy,26,2,2020-01-18 17:45:30,2020-01-18 17:45:30
7256,7257,Prague,Czech Republic,Prague,-1,240,11.0,7:52 am,4:34 pm,92,992.0,0,14.3,2020-01-18 18:00:00,Cloudy,26,2,2020-01-18 18:45:23,2020-01-18 18:45:23

In [12]:
condition_df.dtypes

_id              int64
city            object
country         object
region          object
chill            int64
direction        int64
speed          float64
sunrise         object
sunset          object
humidity         int64
pressure       float64
rising           int64
visibility     float64
pubdate         object
text            object
code             int64
temperature      int64
creatat         object
changeat        object
dtype: object

In [13]:
# pozor prida aktualni date!!!
#condition_df['sunrise'] = condition_df['sunrise'].astype('datetime64[ns]')
#condition_df['sunset'] = condition_df['sunset'].astype('datetime64[ns]')
condition_df['pubdate'] = condition_df['pubdate'].astype('datetime64[ns]')
condition_df['creatat'] = condition_df['creatat'].astype('datetime64[ns]')
condition_df['changeat'] = condition_df['changeat'].astype('datetime64[ns]')

In [14]:
condition_df.dtypes

_id                     int64
city                   object
country                object
region                 object
chill                   int64
direction               int64
speed                 float64
sunrise                object
sunset                 object
humidity                int64
pressure              float64
rising                  int64
visibility            float64
pubdate        datetime64[ns]
text                   object
code                    int64
temperature             int64
creatat        datetime64[ns]
changeat       datetime64[ns]
dtype: object

In [15]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM forecast')

columns = [i[0] for i in cursor.description]
results = cursor.fetchall()

cursor.close()

In [16]:
forecast_df = pd.DataFrame((tuple(t) for t in results), columns = columns)

In [17]:
forecast_df

,_id,condate,day,date,code,low,high,text,creatat,changeat
0,1,2019-03-13 13:00:00,Wed,2019-03-13 00:00:00,12,3,10,Rain,2019-03-13 14:16:10,2019-03-13 14:16:10
1,2,2019-03-13 13:00:00,Thu,2019-03-14 00:00:00,12,4,7,Rain,2019-03-13 14:16:10,2019-03-13 14:16:10
2,3,2019-03-13 13:00:00,Fri,2019-03-15 00:00:00,12,4,9,Rain,2019-03-13 14:16:10,2019-03-13 14:16:10
3,4,2019-03-13 13:00:00,Sat,2019-03-16 00:00:00,11,6,9,Showers,2019-03-13 14:16:10,2019-03-13 14:16:10
4,5,2019-03-13 13:00:00,Sun,2019-03-17 00:00:00,30,6,16,Partly Cloudy,2019-03-13 14:16:10,2019-03-13 14:16:10
...,...,...,...,...,...,...,...,...,...,...
72581,72582,2020-01-18 18:00:00,Thu,2020-01-23 00:00:00,30,-3,1,Partly Cloudy,2020-01-18 18:45:23,2020-01-18 18:45:23
72582,72583,2020-01-18 18:00:00,Fri,2020-01-24 00:00:00,34,-5,2,Mostly Sunny,2020-01-18 18:45:23,2020-01-18 18:45:23
72583,72584,2020-01-18 18:00:00,Sat,2020-01-25 00:00:00,28,-3,3,Mostly Cloudy,2020-01-18 18:45:23,2020-01-18 18:45:23
72584,72585,2020-01-18 18:00:00,Sun,2020-01-26 00:00:00,28,0,5,Mostly Cloudy,2020-01-18 18:45:23,2020-01-18 18:45:23
72585,72586,2020-01-18 18:00:00,Mon,2020-01-27 00:00:00,30,1,5,Partly Cloudy,2020-01-18 18:45:23,2020-01-18 18:45:23

In [18]:
forecast_df.dtypes

_id          int64
condate     object
day         object
date        object
code         int64
low          int64
high         int64
text        object
creatat     object
changeat    object
dtype: object

In [19]:
forecast_df['condate'] = forecast_df['condate'].astype('datetime64[ns]')
forecast_df['date'] = forecast_df['date'].astype('datetime64[ns]')
forecast_df['creatat'] = forecast_df['creatat'].astype('datetime64[ns]')
forecast_df['changeat'] = forecast_df['changeat'].astype('datetime64[ns]')

In [20]:
forecast_df.dtypes

_id                  int64
condate     datetime64[ns]
day                 object
date        datetime64[ns]
code                 int64
low                  int64
high                 int64
text                object
creatat     datetime64[ns]
changeat    datetime64[ns]
dtype: object

In [21]:
#quoted = urllib.parse.quote_plus(conn_string)
#engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
#df = pd.read_sql_table(con=engine, table_name = "Moje")
#df

In [22]:
conn_string = "Driver={SQL Server};Server=DESKTOP-NO9U58U\SQLEXPRESS;Database=dbMoje;Trusted_Connection=yes;"
conn = pyodbc.connect(conn_string)

In [23]:
cursor = conn.cursor()
for index in condition_df.index:
    row = {}
    for column in condition_df.columns:
        # vraci pandas series
        #print(condition_df[condition_df.index == row][column].__class__)
        # vraci hodnoty
        #print(condition_df.loc[index,column].__class__)
        row[column] = condition_df.loc[index,column]
    cursor.execute("INSERT INTO [{}].[20200118_condition]".format(schema_name)+
                " (_id, city, country, region, chill,"+
               "direction, speed, sunrise, sunset, humidity, pressure, rising, visibility, "+
               "pubdate, code, temperature, text, creatat, changeat) VALUES ('" + str(row['_id']) + "','" +
               row['city'] + "','" + row['country'] + "','" + row['region'] + "','"  + str(row['chill']) + "','" +
               str(row['direction']) + "','" + str(row['speed']) + "','" + str(row['sunrise']) + "','" + str(row['sunset']) + "','" +
               str(row['humidity']) + "','" + str(row['pressure']) + "','" + str(row['rising']) + "','" + str(row['visibility']) + "','" +
               str(row['pubdate']) + "','" + str(row['code']) + "','" + str(row['temperature']) + "','" + row['text'] + "','" + str(row['creatat']) + "', '" + str(row['changeat']) + "')")
conn.commit()

cursor.close()

In [24]:
cursor = conn.cursor()
for index in forecast_df.index:
    row = {}
    for column in forecast_df.columns:
        # vraci pandas series
        #print(condition_df[condition_df.index == row][column].__class__)
        # vraci hodnoty
        #print(forecast_df.loc[index,column].__class__)
        row[column] = forecast_df.loc[index,column]
    cursor.execute("INSERT INTO [{}].[20200118_forecast]".format(schema_name)+
                " (_id, condate, code, date, day, high, low, text, creatat, changeat) VALUES ('" + str(row['_id']) + "','" +
                   str(row['condate']) + "','" + str(row['code']) + "','" + str(row['date']) + "','" + row['day'] + "','" + str(row['high']) + "','"  +
                   str(row['low']) + "','" + row['text'] + "','" + str(row['creatat']) + "','" + str(row['changeat']) + "')")
conn.commit()

cursor.close()